body{
    margin:5px;
    text-align: center;;
}
#map { 
    height: 500px; 
    width:70%;
}
.btn{
    margin:10px;
    background-color: #c2e461;
    border-radius:20px;
    padding:8px;
    cursor: pointer;
}

.container{
    display:flex;
    padding:5px;
}
#legende{
    padding:20px;
    margin:10px;
}